@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.background-light {
  --ion-background-color:white !important;
}

.background-dark {
  --ion-background-color:black !important;
}

.toolbar-introduction-light {
  --background: #a580ff;
}

.toolbar-introduction-dark {
  --background: #9400d3;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.avatar {
  border-radius: 50%;
}

.avatarDiv {
  border-radius: 50%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.gradient-light{
  background-image: linear-gradient(#7748f0,#937bd1 ,#a580ff);
}

.gradient-dark{
  background-image: linear-gradient(#9400d3, #7748f0,#937bd1);
}

.divCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.introduction-myself {
  margin-top: 10%;
  text-align: center;
}

.buttonNavBar {
  width: 18%;
  background: transparent;
  border: none;
  margin: 2%;
}

.buttons-myself{
  margin-top: 6%;
}

.animation-body {
  opacity: 0;
  animation-name: easedivs;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateX(-100px);
  animation-timing-function: ease;
}

@keyframes easedivs {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.footer-light{
  background-color: white !important;
}

.footer-dark{
  background-color: black !important;
}
